Package: com.particleapps.instasearch
Name: Instasearch
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Hide Instagram's explore features and automatically begin searching for users instead.
Maintainer: Rocco Del Priore
Author: Rocco Del Priore
Section: Tweaks
